<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 配置类型的别名 -->
	<typeAliases>
		<typeAlias alias="Emp" type="cn.hzhy.mybatisdemo.entity.Employee"/>
	</typeAliases>
	
	<!-- 配置数据库运行环境 -->
	<environments default="development">
	    <!-- 配置一个运行环境 -->
		<environment id="development">
		    <!-- 配置事务管理器，type取值为：JDBC和MANAGED -->
		    <transactionManager type="JDBC"/>
		    <!-- 配置数据数据源 -->
			<dataSource type="POOLED">
			  <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
			  <property name="url" value="jdbc:oracle:thin:@localhost:1522:HUAYU"/>
			  <property name="username" value="hzhy"/>
			  <property name="password" value="hzhy"/>			  
			</dataSource>
		</environment>
	</environments>
	
	<!-- 配置SQL映射文件的路径 -->
	<mappers>
		<mapper resource="cn/hzhy/mybatisdemo/dao/EmployeeDaoMapper.xml"/>
	</mappers>
</configuration>
