<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

	<!-- 配置数据源（如果hibernate配好了  也可以不配 直接引用hibernate的配置） -->
	<!-- 配置DBCP数据库连接池 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>  
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:HUAYU"/>  
        <property name="username" value="hzhy"/>  
        <property name="password" value="hzhy"/>  
        <!--maxActive: 最大连接数量-->    
        <property name="maxActive" value="150"/>  
        <!--minIdle: 最小空闲连接-->    
        <property name="minIdle" value="5"/>  
        <!--maxIdle: 最大空闲连接-->    
        <property name="maxIdle" value="20"/>  
        <!--maxWait: 超时等待时间以毫秒为单位 1000等于60秒-->  
        <property name="maxWait" value="30000"/> 
	</bean>
	
	<!-- 配置SessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<!-- <property name="configLocation" value="classpath:hibernate.cfg.xml"></property> -->
		<!-- 配置Hibernate属性文件 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
			</props>
		</property>
		<!-- 配置Hibernate映射文件 -->
		<!-- <property name="mappingLocations">
			<list>
				<value>classpath:cn/hzhy/oa/entity/Employee.hbm.xml</value>			
				<value>classpath:cn/hzhy/oa/entity/Role.hbm.xml</value>			
				<value>classpath:cn/hzhy/oa/entity/Right.hbm.xml</value>			
			</list>		
		</property>	 -->	
		<property name="mappingResources">
			<list>
				<value>cn/hzhy/students/entity/Employee.hbm.xml</value>			
				<value>cn/hzhy/students/entity/Students.hbm.xml</value>			
				<!-- <value>cn/hzhy/oa/entity/Role.hbm.xml</value>			
				<value>cn/hzhy/oa/entity/Right.hbm.xml</value> -->			
			</list>		
		</property>	
	</bean>
	
	<!-- 配置Dao -->
	<bean id="employeeDao" class="cn.hzhy.students.dao.impl.EmployeeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 配置Service -->
	<bean id="employeeService" class="cn.hzhy.students.service.impl.EmployeeServiceImpl">
		<property name="employeeDao" ref="employeeDao"></property>
		
	</bean>
	<!-- 配置Action -->
	<bean id="employeeAction" class="cn.hzhy.students.web.action.EmployeeAction" scope="prototype">
		<property name="employeeService" ref="employeeService"></property>
	    <!-- <property name="pageSize" value="3"></property> -->
	    <!-- 		
		<property name="currPageNo" value="1"></property> -->
		
	</bean>

</beans>
